<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Parse mail log</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

<div class="mx-4">

    <p class="text-2xl font-bold mb-4">Отобразить данные</p>


        <form id="myForm" hx-get='/index{{ mail_name }}'
              hx-target="#table-body"
              hx-swap="innerHTML">
            <label for="mail_name">Введите название для поиска:</label><br>
            <input type="text" id="mail_name" name="mail_name">
            <input class="submit" type="submit" value="Отправить">
        </form>


        <table class="min-w-[50%] mb-4">
            <thead class="border-b text-lg">
                <tr>
                  <th class="border">Время</th>
                  <th class="border">Строка лога</th>
                </tr>
              </thead>
              <tbody class="text-center text-sm" id="table-body">
                {%include 'table.html' %}

              </tbody>
        </table>



</div>

</body>
</html>